<form action="members" method="post">
 email <input name="email" type="text"/>
  name <input name = "name" type="text"/>
 password <input name="password" type="text"/>
  <input name="submit" type = "submit">
</form>